

<div class="container">
	<% n =0 %>
	<div class="row new-checklist-row">
		<div class="col-md-2 col-md-offset-1 created-row"><!-- Column create -->
			<div class="row">
				<div class="empty-template">
					<p>
						<%= link_to image_tag("plus.png", size: "30x30"), new_checklist_path %>
					</p>	
				</div>

			</div>
			<div class="row">
				<div class="empty-template-text">
					<p>
						<%= link_to 'Create Own Template', new_checklist_path %>
					</p>	
				</div>
				
			</div>			
		</div>
		<div class="col-md-6 template-row"><!-- Column templates -->
			<p>
			All templates
			</p>
			<div class="row template-checklist-row">
				<% @checklists.each do |checklist| %>
					<% if n%3 == 0  %>
							</div><div class="row template-checklist-row">
					<% end %>
					<% if checklist.progess == 0 %>  <!-- if checklist created -->
						<div class="col-md-3 template-box" >
							<% n = n+1 %>
							<div class="row display-title">
								<p>
									<%=link_to checklist.title, checklist_path(checklist) %>
									<!-- <%= link_to image_tag("start.png", size: "20x20"), checklist_path(checklist) %> -->
								</p>
							</div>
							<div class="row display-description">
								<p>
									<%=checklist.description %>
								</p>
							</div>	
							<div class="row">
								<p>
									<% if checklist.createur != nil %>
										<% if checklist.createur.length > 15 %>
											<div class="row display-createur-long">
												Créee par <%= checklist.createur%>
											</div>
										<% elsif checklist.createur.length < 15 %>
											<div class="row display-createur-short">
												Créee par <%= checklist.createur%>
											</div>
										<% end %>
									<% end %>
								</p>
							</div>		
							<div class="row display-poubelle">
								<p>
									<%= link_to image_tag("delete.png", size: "15x15"), checklist_path(checklist),
						              method: :delete,
						             data: { confirm: 'Are you sure?' } %> 
								</p>
							</div>																			
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
