<h1>Créer une nouvelle check-list</h1>


<%= form_for @checklist do |f| %>



        <% if @checklist.errors.any? %>
          <h2><%= pluralize(@checklist.errors.count, "error") %> prohibite this checklist from being saved: </h2> 
          <ul>
          <% @checklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
        <% end %>

         <div class="form-group">
         <%= f.label :title %></h2>
        <%= f.text_field :title %>
        </div>

        <div class="form-group">
        Add a description to your Checklist : 
          <% f.label :description %>
          <%= f.text_field :description, class: "form-control" %>
        </div>
      Tasks : 
      <% n = 0 %>
  <%= f.fields_for :tasks, [Task.create]*10 do |task| %>
    <div class="form-group">
      <div class: "form-control">
      <%= n = n+1 %>
      <%= task.text_field :description %>
     </div>
    </div>
  <% end %>
  <%= f.submit ' Enregistrer cette nouvelle checklist'   %>
<% end %>






















<% if false %>

<h1>Créer une nouvelle check-list</h1>

		  <%= form_for @checklist do |f| %>

		    <% if @checklist.errors.any? %>
          <h2><%= pluralize(@checklist.errors.count, "error") %> prohibite this checklist from being saved: </h2> 
          <ul>
          <% @checklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
        <% end %>

        
         <div class="form-group">
         <%= f.label :title %></h2>
        <%= f.text_field :title %>
        </div>

        <div class="form-group">
        Add a description to your Checklist : 
          <% f.label :description %>
          <%= f.text_field :description, class: "form-control" %>
        </div>

        <%= f.submit 'Create the tasks of your checklist' %> <!-- 'Enregistrer cette nouvelle check-list'  -->

      <% end %> 

<br><br>
<%= link_to 'home', '/' %>

<% end %>