
<% if true %>

<div class="container">
	<div class="checklist-details">
		<div class="row">
			<div class="col-md-3 description-info ">
				<div class="row">
					<div class="status-image">
						<% if @checklist.progess == 0 %>
							<%= image_tag "start.png", size: "50x50"  %>
						<% elsif @checklist.progess == 1 %>
							<%= image_tag "inProgress.png", size: "50x50"  %>
						<% elsif @checklist.progess == 2 %>
							<%= image_tag "ObjectifAtteinds.jpeg", size: "50x50"  %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="actual-description">
						<% if !(@checklist.description.blank?) %>
							Description : <%= @checklist.description %>
						<% elsif @checklist.description.blank? %>
							No description of checklist
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="author-name">
						<p>
							<% if !(@checklist.createur.blank?) %>
								<font size ="2px">Créee par : </font><%= @checklist.createur %>
							<% else %>
								Le créateur n'a pas donné son nom
							<% end %>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="icons-display">
						<div class="icons col-xs-12">
					      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
					      <a href="#"><span class="glyphicon glyphicon-user"></span></a>
					      <a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
					      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
					      <a href="#"><span class="glyphicon glyphicon-print"></span></a>
					    </div>
					</div>
				</div>						
			</div>
			<div class= "col-md-9 display">
				<div class="row">
					<div class="checklist-title">
						<%= @checklist.title %>
					</div>
				</div>
				<div class="row">
					<div class="tasks-display">
						<% if @checklist.tasks.count == 0 %>    
							<p>
						    	No tasks 
						    </p>
						<% elsif  @checklist.tasks.count > 0 %> 
							<ul class="list-group">
								<% n =0 %>
								<% @checklist.tasks.order("created_at asc").each do |task| %>
									<li class="checklist-details-task">
										<span class="task-status"><% task.status %></span>
										<%= n = n +1 %>.
										<%= task.description %>
									</li>
							 	<% end %>
							</ul>
						<% end %> <!-- end of if condition -->
					</div><!-- task display-->
				</div> <!-- row -->
				<div class="row">
					<div class="display-add">
						<p>
							<% if @checklist.progess == 0 %>
								<%= render 'tasks/form' %>
								<%= form_for @checklist do |f| %>
							        <div id="name" type="text">
								        <% f.label :garant %></h2>
								        <%= f.text_field :garant, :autofocus=>true, :autocomplete=>"off", :placeholder=>"Garant" %>
							        </div>
									<%= f.submit ' Démarrer cette nouvelle checklist'   %>
								<% end %>
							<% elsif @checklist.progess == 1 %>
								<a href="#"><span class="glyphicon glyphicon-plus"></span></a>
								<%= link_to "Add tasks", checklist_new_tasks_path(@checklist) %>
							<% elsif @checklist.progess == 2 %>
								<h2>Objectif atteint</h2>
							<% end %>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="display-just-save">
						<p>		
							<%= button_to "Enregistrer la checklist sans la commencer", checklists_path %>
						</p>
					</div>
				</div>			
			</div>
		</div>		
	</div>
</div>
	
<% end %> <!-- end of if true/false -->




<% if false %>

	<div class="row wrap clearfix v2">
	  <!--Avatar -->
	<!--   <% if @checklist.progess == 0 %>
			<%= image_tag "start.png", size: "40x40"  %>
		<% elsif @checklist.progess == 1 %>
			<%= image_tag "inProgress.png", size: "40x40"  %>
		<% elsif @checklist.progess == 2 %>
			<%= image_tag "ObjectifAtteinds.jpeg", size: "40x40"  %>
		<% end %> -->


			<div class="personne">
			 	<% if @checklist.createur != nil %>
					<h6 id="createur" font-size:"1">Créée par : <%= @checklist.createur %></h6>
				<% end %>
			</div>
	  <div class="col-sm-4 col-xs-12 avatar">
	    <img src="http://www.placehold.it/300x200&text=Avatar" alt="" />
	    <p>
		<% if @checklist.garant != nil %>
				<h6 id="garant" font-size:"1">Démarrée par : <%= @checklist.garant %></h6>
		<% end %>
		</p>
		<p>
		<% if @checklist.createur != nil %>
					<h6 id="createur" font-size:"1">Créée par : <%= @checklist.createur %></h6>
		<% end %>
	    </p>
	     <div class="icons col-xs-12">
	      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
	      <a href="#"><span class="glyphicon glyphicon-user"></span></a>
	      <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
	      <a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
	      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
	    </div>
	  </div>
	  <!-- End Avatar -->
	  
	  <div class="col-sm-8 col-xs-12">    
	   
	    <div class="col-xs-12 content" style="margin-bottom:100px;">
	      <h2><%= @checklist.title %></h2>
	      <p>
			<% if @checklist.tasks.count == 0 && @checklist.description.blank? %>    
			    No tasks and no description 
			<% elsif  @checklist.tasks.count == 0 && !(@checklist.description.blank?) %> 
				Description : <%= @checklist.description %><br>
			<% elsif  @checklist.tasks.count > 0 && !(@checklist.description.blank?) %> 
			<% n =0 %>
				Description : <%= @checklist.description %><br><br>
				 	<% @checklist.tasks.order("created_at asc").each do |tache| %>
			 		<%= n= n+1 %>. 
			 		<%= tache.description %><br>
			 	<% end %>
			  <% elsif @checklist.tasks.count > 0 && @checklist.description.blank? %>    
			  <% n = 0 %>
			 	<% @checklist.tasks.order("created_at asc").each do |tache| %>
			 	<!-- 	<%= check_box("taches", "new" )	%> -->
			 		<%= n= n+1 %>. 
			 		<%= tache.description %><br>
			 	<% end %>
			 <% end %>
	      </p>
	      <p>
	      	<% if @checklist.progess == 0 %>
				<%= render 'tasks/form' %>
				 <!-- link_to "Démarrer", checklist_start_path(@checklist)<br> -->
				<p>
				<%= button_to "Enregistrer la checklist sans la commencer", checklists_path %>
				</p>
					<%= form_for @checklist do |f| %>
			        <div id="name" type="text">
				        <% f.label :garant %></h2>
				        <%= f.text_field :garant, :autofocus=>true, :autocomplete=>"off", :placeholder=>"Garant" %>
			        </div>
					  <%= f.submit ' Démarrer cette nouvelle checklist'   %>
			<% end %>

			<% elsif @checklist.progess == 1 %>
				<%= link_to "Add tasks", checklist_new_tasks_path(@checklist) %>
			<% elsif @checklist.progess == 2 %>
				<h2>Objectif atteint</h2>
			<% end %>
	      </p>
	      
	    </div>
	  </div>
	</div>









<% end %>









































<% if false %>
<h1>Checklist : <%= @checklist.title %></h1> 

	<% if @checklist.progess == 0 %>
		<%= image_tag "start.png", size: "40x40"  %>
	<% elsif @checklist.progess == 1 %>
		<%= image_tag "inProgress.png", size: "40x40"  %>
	<% elsif @checklist.progess == 2 %>
		<%= image_tag "ObjectifAtteinds.jpeg", size: "40x40"  %>
	<% end %>

	<br><br>
		

<div class="personne">
 	<% if @checklist.createur != nil %>
		<h6 id="createur" font-size:"1">Créée par : <%= @checklist.createur %></h6>
	<% end %>
	<% if @checklist.garant != nil %>
		<h6 id="garant" font-size:"1">Démarrée par : <%= @checklist.garant %></h6>
	<% end %>
	<br><br>
</div>
 
		

<% if @checklist.tasks.count == 0 && @checklist.description.blank? %>    
    
    No tasks and no description 

<% elsif  @checklist.tasks.count == 0 && !(@checklist.description.blank?) %> 
	Description : <%= @checklist.description %><br>
	
<% elsif  @checklist.tasks.count > 0 && !(@checklist.description.blank?) %> 
<% n =0 %>
	Description : <%= @checklist.description %><br><br>
	Tache :   <br><br> 

	 	<% @checklist.tasks.order("created_at asc").each do |tache| %>
 		<%= n= n+1 %>. 
 		<%= tache.description %><br>
 		
 	<% end %>


  <% elsif @checklist.tasks.count > 0 && @checklist.description.blank? %>    
  Tache :   <br><br> 
  <% n = 0 %>
 	<% @checklist.tasks.order("created_at asc").each do |tache| %>
 	<!-- 	<%= check_box("taches", "new" )	%> -->
 		
 		<%= n= n+1 %>. 
 		<%= tache.description %><br>
 	<% end %>
 <% end %>


<br><br>

<% if @checklist.progess == 0 %>
	<%= render 'tasks/form' %>
	 <!-- link_to "Démarrer", checklist_start_path(@checklist)<br> -->

	<%= link_to "Enregistrer la checklist sans la commencer", checklists_path %><br><br><br>
	

		<%= form_for @checklist do |f| %>

		         <div class="form-group">
		         <%= f.label :garant %></h2>
		        <%= f.text_field :garant, :autofocus=>true, :autocomplete=>"off" %>
		        </div>
		      
		  <%= f.submit ' Démarrer cette nouvelle checklist'   %>
		<% end %>

<% elsif @checklist.progess == 1 %>
	<%= link_to "Add taches", checklist_new_tasks_path(@checklist) %>
<% elsif @checklist.progess == 2 %>
	<h2>Objectif atteint</h2>
<% end %>
		
<% end %>

