
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/checklists/en_cours">En cours</a></li>
  <li><a href="/checklists/terminée">Terminée</a></li>
</ul>

	<div class = "col-md-6" id="terminée">
	<br><br>
	<h1 align="left" >Checklist terminée</h1><br><br>
	
		<% n =0 %>
		<div class="row">
		<% @checklists.each do |checklist| %>

			<% if n%3 == 0  %>
					</div><div class="row">
				<% end %>

			<% if checklist.progess == 2 %>   <!-- if checklist finished -->
				<div class="col-md-3" id="finished" >
					<% n = n+1 %>
					<b>Title : </b><%=link_to checklist.title, checklist_path(checklist) %><br>
					<!-- <%= link_to image_tag( "ObjectifAtteinds.jpeg", size: "35x35"), checklist_path(checklist) %><br> -->
					<% if checklist.description.blank? %>
						no description <br>
					<% else %>
						<b>Description : </b><%= checklist.description %><br>
					<% end %>
					<!-- <b>Status : </b><%= checklist.progess.to_i  %><br> -->
					<% if checklist.timeStarted != nil %>
						<div id="timeFinished">
						<h6 font-size:"1"><i>Démarrée le <%= checklist.timeStarted.to_formatted_s(:short) %></i></h6>
					</div>
					<% end %>
					<% if checklist.timeFinished != nil %>
						<h6 font-size:"1"><i>Terminée le <%= checklist.timeFinished.to_formatted_s(:short) %></i></h6>
					<% end %>
					<% if checklist.garant != nil %>
						<h6 id="garant" font-size:"1" ><i> par  <%= checklist.garant%></i></h6>
					<% end %>
					<% if checklist.createur != nil %>
						<h6 id="createur" font-size:"1">Créée par <%= checklist.createur %></h6>
					<% end %>
					<%= link_to image_tag("delete.png", size: "15x15"), checklist_path(checklist),
		              method: :delete,
		             data: { confirm: 'Are you sure?' } %>
					<br>	
					<br><br>
				</div>


			<% end %>

		<% end %>
		</div>
	</div>	