<div class="container">
	<div class= "col-md-8 col-md-offset-2 ">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
						<li><a href="/main/index">Home</a></li>
						<li class="active"><a href="/checklists/terminees">Terminée</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class= "col-md-8 col-md-offset-2 ">
	<p>
	<h1 align="left" >Checklist terminée</h1>
	</p>

	<div class="row index-terminees">
		<div class="col-md-12">
			<table class="table table-striped table-bordered table-condensed">
			    <thead>
			        <tr>
			            <th>Title</th>
			            <th>Description</th>
			            <th>Start - Finish</th>
			            <th>Garant</th>
			            <th>Createur</th>
			            <th></th>
			        </tr>
			    </thead>
			    <tbody>
			    	<% @checklists.each do |checklist| %>
			    		<% if checklist.progess == 2 %>   <!-- if checklist started -->
					        <tr>
					            <td><%=link_to checklist.title, checklist_path(checklist) %></td>
					            <td>
					            	<% if checklist.description.blank? %>
										no description <br>
									<% else %>
										<%= checklist.description %><br>
									<% end %>
					            </td>
					            <td>
					            	<% if checklist.timeStarted != nil %>
									<h6 font-size:"1"><i><%= checklist.timeStarted.to_formatted_s(:short) %> - <h6 font-size:"1"><i><%= checklist.timeFinished.to_formatted_s(:short) %></i></h6></i></h6>
									<% end %>
					            </td>
					            <td><% if checklist.garant != nil %>
								<h6 id="garant" font-size:"1"><%= checklist.garant %></h6>
								<% end %></td>
					            <td><% if checklist.createur != nil %>
								<h6 id="createur" font-size:"1"><%= checklist.createur %></h6>
								<% end %></td>
					            <td><%= link_to image_tag("delete.png", size: "15x15"), checklist_path(checklist),
						              method: :delete,
						             data: { confirm: 'Are you sure?' } %></td>
					        </tr>
				        <% end %>
			    	<% end %>
			    </tbody>
			</table>
		</div>
	</div><!-- end of row-->
	</div>
</div>

<div class="container">
	<div class="side-bar-template">
		<div class="bs-sidebar affix">
		    <ul class="nav bs-sidenav">
		        <li class="active"><a href="/checklists">Templates</a>
	        		<div class="side-bar-all-templates">
						<div class="bs-sidebar affix">
							<ul class="nav bs-sidenav">
							    	<% @checklists.each do |checklist| %>
							    		<% if checklist.progess == 0 %>
						                	<li><a href="#"><%= checklist.title %></a></li>
						                <% end %>
						            <% end %>
							</ul>
						</div>
					</div>
		        </li>
		    </ul>
		</div>
	</div>
</div>












<% if false %>
	
	<br><br>
	<h1 align="left" >Checklist terminée</h1><br><br>
	
		<% n =0 %>
		<div class="row">
		<% @checklists.each do |checklist| %>

			<% if n%3 == 0  %>
					</div><div class="row">
				<% end %>

			<% if checklist.progess == 2 %>   <!-- if checklist finished -->
				<div class="col-md-3" id="finished" >
					<% n = n+1 %>
					<b>Title : </b><%=link_to checklist.title, checklist_path(checklist) %><br>
					<!-- <%= link_to image_tag( "ObjectifAtteinds.jpeg", size: "35x35"), checklist_path(checklist) %><br> -->
					<% if checklist.description.blank? %>
						no description <br>
					<% else %>
						<b>Description : </b><%= checklist.description %><br>
					<% end %>
					<!-- <b>Status : </b><%= checklist.progess.to_i  %><br> -->
					<% if checklist.timeStarted != nil %>
						<div id="timeFinished">
						<h6 font-size:"1"><i>Démarrée le <%= checklist.timeStarted.to_formatted_s(:short) %></i></h6>
					</div>
					<% end %>
					<% if checklist.timeFinished != nil %>
						<h6 font-size:"1"><i>Terminée le <%= checklist.timeFinished.to_formatted_s(:short) %></i></h6>
					<% end %>
					<% if checklist.garant != nil %>
						<h6 id="garant" font-size:"1" ><i> par  <%= checklist.garant%></i></h6>
					<% end %>
					<% if checklist.createur != nil %>
						<h6 id="createur" font-size:"1">Créée par <%= checklist.createur %></h6>
					<% end %>
					<%= link_to image_tag("delete.png", size: "15x15"), checklist_path(checklist),
		              method: :delete,
		             data: { confirm: 'Are you sure?' } %>
					<br>	
					<br><br>
				</div>


			<% end %>

		<% end %>
		</div>

	</div>
<% end %>